.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-textfield {
  width: 800px;
  height: 550px;
  font-size: 20px;
  color: #61dafb;
  background-color: #282c34;
}

.App-input {
  width: 400px;
  color: #61dafb;
  background-color: #282c34;
  height: 35px;
  font-size: 20px;
}

.App-send {
  width: 150px;
  height: 25px;
  border: none;
  font-size: 20px;
  color: #282c34;
  background: #61dafb;
}
